@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/sass/reset.scss';
@import './assets/sass/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:wght@500;600;700&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	@apply font-normal text-white leading-[30px] overflow-x-hidden;
	font-family: 'Poppins', sans-serif;
	font-size: clamp(0.88rem, calc(0.78rem + 0.45vw), 1.13rem);
	background: $main-bg;
}
h1,
h2,
h3 {
	@apply font-Orbitron font-semibold;
	span {
		background: $purple-gd;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}

h2 {
	@apply text-[35px] leading-[44px] max-sm:text-[31px];
}
