$main-bg: linear-gradient(
	180deg,
	rgb(1, 2, 8) 16.395%,
	rgb(1, 2, 6) 20.513%,
	rgb(4, 0, 8) 24.786%,
	rgb(1, 1, 1) 30.458%,
	rgb(1, 1, 1) 34.11%,
	rgb(1, 1, 1) 36.208%,
	rgb(1, 1, 1) 100%
);
$neon: linear-gradient(
	158.4deg,
	rgb(209, 14, 209) 10.9%,
	rgb(16, 163, 218) 88.221%
);
$purple-gd: linear-gradient(158.4deg, rgb(248, 108, 248), rgb(100, 206, 245));
